# List of allowed users in format USERNAME:PASSWORD,USERNAME:PASSWORD
ALLOWED_USERS=admin:password,user1:securepass123

# EmailJS Configuration
VITE_EMAILJS_SERVICE=
VITE_EMAILJS_TEMPLATE=
VITE_EMAILJS_KEY=
